
.everything {
  margin-top: 6em;
  overflow: hidden;
  z-index: -99;
  min-height: 100vh;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  color: rgba(0, 0, 0, 0.7);
}
h1{
  font-size: 4em;
  font-family: Poppins;
}

.right {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin-left: 50px;
}
.left{
  z-index: -999;
  left: 0;
  top: 10px;
}

.left img {
  max-width: 100%;
  height: auto;
  display: block;
  justify-content:start;
  align-items: start;
  z-index: 0;
  margin-top: 40px;
}

@media screen and (max-width: 1040px) {
  .container {
    flex-direction: column;
  }

  .right {
    flex: 1 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .left img {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    z-index: -30;
    margin-top: 0;
  }
  .book{
    z-index: -30;
  }
  .left{
    z-index: -999;
    left: 0;
    top: 10px;
    margin-right: 150px;
  }
  h1{
    font-size: 2em;
    font-family: Poppins;
  }
}

@media screen and (max-width: 1140px) {
  h1{
    font-size: 1.8em;
  }
}
@media screen and (max-width: 1000px){
  .left img{
    margin-right: 100px;
    margin-top: 0;
    margin-left: 220px;
  }
  .right{
    margin-left: 0;
  }

@media screen and (max-width:750px){
  .left img{
    margin-left: 110px;
  }
}

}
@media screen and (max-width: 600px){
  .left img{
    margin-right: 100px;
    margin-top: 0;
    margin-left: 70px;
  }
  .right{
    margin-left: 0;
  }
  
}
@media screen and (max-width: 450px){
  .left img{
    width: 350px;
    margin-top: -60px;
    margin-left: 60px;
  }
  .right {
    margin-right: 8px;
  }
  .right{
    margin-left: 0;
  }
  .everything{
    padding-top: 70px;
  }
  
}
@media screen and (max-width: 400px){
  .left img{
    width: 300px;
    margin-left: 70px;
    margin-top: -70px;

  }
  .right {
    margin-right: 8px;
  }
  .right{
    margin-left: 0;
  }
  
  
}